.expenses {
  padding: 1rem;
  background-color: rgb(31, 31, 31);
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
}
.note{
  font-size: 2rem;
  /* margin-left:16px; */
  text-align: center;
  color:purple;
}
